.DS_Store
._*
__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/
.conda/
artifacts/
results/*.npy
data/processed/*
data/ptbxl_records/*
# Ignore large external data files
/data/external/cpsc_2018.zip
/data/external/external_ecg_cpsc_signals.npy
